:root {
  --background-color: black;
  --button-color: #007bff; /* Define your main color variable */
  --button-hover-color: #0056b3;
  --active-button-color: #28a745;
  --font-color: white;
  --highlight-font-color: #00FF00;
  --label-color: gray;
  --outline-color: #ccc;
  --dropdown-color: #2C303E;
  /* --dropdown-color: #333333; */
  /* --dropdown-color: #1A1A2E; */
  /* --dropdown-color: #1E2A1A; */
  /* --dropdown-color: #352D21; */
}

html {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  color: var(--font-color);
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

/* General button style */
button {
    padding: 8px 12px;
    margin: 4px;
    border: none;
    border-radius: 4px;
    background-color: var(--button-color);
    color: var(--font-color);
    cursor: pointer;
}

/* Hover effect */
button:hover {
    background-color: var(--button-hover-color);
}

/* Special styling for the selected unit and system */
button.active {
    background-color: var(--active-button-color);
}

/* Placeholder styling */
::placeholder {
    color: var(--label-color);
}

/* Style for unit buttons container */
#unitButtonsContainer {
    margin-top: 10px;
}

/* Style for unit system buttons container */
#unitSystemButtons {
    margin-bottom: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns layout */
    gap: 20px; /* Gap between columns */
}

.unit-buttons {
    /* Align buttons and unit container in a column */
    display: flex;
    flex-direction: column;
}

.conversion {
    /* Align conversions in a column */
    display: flex;
    flex-direction: column;
}

/* Style for input elements */
input[type="number"],
select,
input[type="text"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid var(--outline-color);
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%; /* Adjust the width as needed */
  margin: auto;
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: 'Roboto Mono', monospace; /* Use Roboto Mono as the font */
}

input[type="text"] {
  /* color: var(--button-color); */
  /* color: #66FFFF; */
  /* color: #00FFFF; */
  /* color: #4D94FF; */
  color: var(--highlight-font-color);
}

/* Style for select dropdown arrow */
select {
  width: 100%; /* Dropdown takes full width */
  margin-left: auto; /* Align slightly closer to the center of the page */
  margin-right: auto; /* Align slightly closer to the center of the page */
  background-color: var(--dropdown-color);
}

/* Style for input elements on focus */
input[type="number"]:focus,
select:focus,
input[type="text"]:focus {
  outline: none;
  border-color: var(--button-color);
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}





/* Style for header */
.header {
    width: 40%; /* Take up 40% of the container width */
    margin: 0 auto; /* Center the header horizontally */
    padding: 20px; /* Add padding */
    box-sizing: border-box; /* Include padding in the width calculation */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Space items evenly */
    border-bottom: 1px solid var(--outline-color); /* Add border at the bottom */
}

/* Style for dropdowns and input fields */
.header select,
.header input,
.input-field {
  flex: 1; /* Allow items to expand equally */
  margin-right: 10px; /* Add margin between elements */
  margin-top: 5px;
}

/* Style for scaling operation dropdown */
#scalingOperation {
  margin-right: 0; /* Remove margin to align with other elements */
}

/* Style for the input field container */
.input-field {
  /* flex: 1; */
  /* margin: 5px; */
  position: relative;
}

/* Style for the label */
.input-field label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--label-color);
  transition: top 0.3s ease, font-size 0.3s ease;
}

/* Style for the input field when it has value */
.input-field input:not(:placeholder-shown) + label, select:not(:placeholder-shown) + label {
  top: -8px;
  font-size: 10px;
}




/* Style for container (holds everything) */
.container {
    display: flex;
    justify-content: center; /* Center the container horizontally */
    align-items: flex-start; /* Align the container to the top of the page */
    width: 33%; /* Take up 60% of the viewport width */
    margin: 0 auto; /* Center the container horizontally */
    padding-top: 20px; /* Add some top padding for spacing */
    box-sizing: border-box; /* Include padding in the width calculation */
}

/* Style for content */
.content {
    display: flex; /* Use flexbox for content */
    gap: 64px; /* Gap between columns */
    padding: 20px; /* Add padding to the content */
    box-sizing: border-box; /* Include padding in the width calculation */
}

/* Style for unit-buttons column */
.unit-buttons {
    width: 480px; /* Fixed width for the unit-buttons column */
    flex: 1; /* Allow the column to grow */
    padding-right: 20px; /* Add padding to the right */
    box-sizing: border-box; /* Include padding in the width calculation */
}

/* Style for conversion column */
.conversion {
    width: 300px; /* Fixed width for the conversion column */
    flex: 1; /* Allow the column to grow */
    padding-left: 20px; /* Add padding to the left */
    box-sizing: border-box; /* Include padding in the width calculation */
}













button[id="newConverter"] {
  border: 1px solid var(--button-color);
  background-color: var(--background-color);
  width: 50%;
  font-size: 2em;
}