:root {
  --background-color: black;
  --button-color: #007bff; /* Define your main color variable */
  --button-hover-color: #0056b3;
  --font-color: white;
  --highlight-font-color: #00FF00;
  --label-color: gray;
  --outline-color: #ccc;
  --dropdown-color: #2C303E;
  --btn-color: #1E3140;
  --green-tint: #405a48;
  --background-color-2: rgb(12, 12, 12);
}

html {
  height: 100%;
  width: 100%;
  /* background-color: var(--background-color); */
  background-color: rgb(12, 12, 12);
  color: var(--font-color);
  /* text-align: center; */
  text-align: left;
  font-family: 'Roboto Mono', monospace;
}
body {
  margin: 0;
}

.inlineGrid {
  display: grid;
  grid-template-columns: minmax(6em, 1fr) minmax(8em, 1.6fr);
  /* border: 5px solid rebeccapurple; */
}

/* Style for header */
.header {
  border-bottom: 1px solid var(--outline-color);
  background-color: var(--background-color);
  transition: filter 314ms ease-in-out 0ms;
}
.headerInputs {
  width: 80%;
  max-width: 45em;
  margin: 0 auto; /* Center the header horizontally */
  padding: 20px 0;
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Space items evenly */
}




/* @media all and (min-width: 481px) and (max-width: 4800px) { */
/* } */


/* MARK: Main columns */
.containerWrapper {
  width: 80%;
  min-width: 16em;
  max-width: 45em;
  margin: 0px auto;
  transition: filter 314ms ease-in-out 0ms;
  /* border: 1px solid red; */
}
.container {
  position: static;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 32px 0px;
  border: 1px solid var(--outline-color);
  /* border: 1px solid blue; */
  border-radius: 8px;
  background-color: black;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(16, 16, 16); */
}
.content {
  flex: 1;
  margin: 2px;
  padding: 16px;
  
  /* border: 1px solid red; */
}



/* MARK: overlay containers */
.overlay {
  background-color: black;
  border: 1px solid var(--outline-color);
  border-radius: 8px;

 /* border: 1px solid red; */
}
.overlayContainer {
  position: static;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 32px 0px;
  align-items: center;
  justify-content: center;

 /* border: 1px solid green; */
}
.overlayContent {
  flex: 1;
  margin: 2px;
  padding: 16px;

 /* border: 1px solid blue; */
}



/* MARK: Inputs */
.input-field {
  flex: 1; /* Allow items to expand equally */
  margin: 4px;

  /* border: 1px solid green; */
}

/* Style for the label in the header */
.input-field label{
  position: absolute;
  top: -4px;
  left: 6px;
  font-size: 10px;
  color: var(--outline-color);
  background-color: var(--background-color);
  border-radius: 5px;
  padding: 0 5px;
  max-height: 1.2em;
  overflow: hidden; /* Hide any overflowed content */
  user-select: none;
}

#valueInput,
#outputValue,
.input-field,
.labelDiv {
  position: relative;
}

/* Style for input elements */
input[type="number"],
select,
input[type="text"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid var(--outline-color);
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%; /* Adjust the width as needed */
  margin: auto;
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: 'Roboto Mono', monospace; /* Use Roboto Mono as the font */
}

input[type="text"],
input[type="number"] {
  text-align: right;
}

input[type="text"] {
  color: var(--highlight-font-color);
}

/* Style for input elements on focus */
input[type="number"]:focus,
select:focus,
input[type="text"]:focus {
  outline: none;
  border-color: var(--highlight-font-color);
}

input.inputValuePrimary,
input.inputValueSecondary,
input.conversionLabel,
input.headerInput,
input.unitValueIn,
input.unitValueOut {
  border: 1px solid var(--button-color);
}

.content input {
  /* min-width: 64px; */
  /* max-width: 10em; */
}

input.conversionLabel {
  width: 133px;
  position: absolute;
  top: 50%;
  left: 0%;
  font-size: 14px;
  /* font-weight:bold; */
  transform: translateX(-50%) translateY(-50%) rotate(-90deg) translateY(-50%) translateY(-8px);
  text-align: center;
  border-radius: 8px;
  color: var(--outline-color);
}

/* MARK: Select */
.content select {
  /* min-width: 128px; */
  /* max-width: 20em; */
  /* border: 1px solid rebeccapurple; */
}

/* Style for select dropdown arrow */
select {
  background-color: var(--dropdown-color);
}


/* MARK: Button */
button[id="newConverter"] {
  border: 1px solid var(--button-color);
  background-color: var(--background-color);
  width: 50%;
  max-width: 1000px;
  font-size: 2em;
}

.btnContainer {
  position: static;
  display: flex;
  justify-content: center;
  transition: filter 314ms ease-in-out 0ms;
}

/* General button style - '?' btn */
.duplicateBnt,
.menuBtn {
  padding: 8px 12px;
  margin: 4px;
  border-radius: 4px;
  background-color: var(--btn-color);
  color: var(--font-color);
  cursor: pointer;
  border: 1px solid var(--background-color);
}

/* Hover effect */
.duplicateBnt:hover,
.menuBtn:hover { 
  background-color: var(--button-color);
  border-color: var(--background-color);
}

.applyScaleBtn {
  background-color: var(--background-color);
  border: 1px solid var(--button-color);
  border-radius: 4px;
  font-family: inherit;
  color: var(--font-color);
  transition: 250ms;
}

.applyScaleBtn:hover {
  cursor: pointer;
  color: var(--button-color);
  font-weight: bolder;
  transition: 250ms;
}





/* MARK: Side Menu */
.sideNav{
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 10;
  left: 0;
  background-color: var(--background-color);
  overflow-x: hidden;
  transition: 0.314s;
  padding-top: 20px;
  white-space: nowrap;
}

.sideNav li,
.sideNav a {
  padding: 8px 0px;
  text-decoration: none;
  font-size: 20px;
  color: var(--font-color);
  /* display: block; */
  transition: .314s;
}

.sideNav li:hover,
.sideNav a:hover {
  padding-left: 8px;
  color: var(--button-color);
  cursor: pointer;
}

.sideNav span{
  position: absolute;
  top: 8px;
  right: 32px;
  font-size: 24px;
  margin-left: 50px;
  cursor: pointer;
  transition: .314s;
  padding: 0em  2em;
  margin:  0em -2em;
}

.sideNav span:hover{
  color: var(--button-color);
  right: 36px;
}

/* MARK: overlays */
.overlay {
  pointer-events: none;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50%;
  /* min-width: 20em; */
  max-width: 60em;
  padding: 24px;
  background-color: var(--background-color);
  border: 1px solid var(--outline-color);
  border-radius: 10px;
  box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1);
  margin-top: -25px;
  opacity: 0;
  transition: top 0ms ease-in-out 314ms, opacity 314ms ease-in-out, margin-top 314ms ease-in-out;
  
  /* border-color: red; */
}
.overlay h1,
.overlay p {
  margin: 0;
}
.overlay h1 {
  text-align: center;
}
.overlaySettings {
  max-width: 24em;
}
.overlaySettings .input-field {
  margin: 1em auto;
  max-width: 16em;
}
.overlaySettings p {
  text-align: center;
}
/* .overlayScaleCalc {
  text-align: center;
} */
.overlayScaleCalc .overlayContainer {
  /* border: 1px solid rebeccapurple; */
  margin: 1em auto;
  max-width: 32em;
}
.overlayScaleCalc .overlayContent {
  /* border: 1px solid rebeccapurple; */
  /* max-width: 13em; */
  margin: auto;
  
}
.overlayScaleCalc .inlineGrid {
  /* border: 1px solid rebeccapurple; */
  text-align: center;
  /* max-width: 20em; */
}
.overlayScaleCalc h1 {
  /* border: 1px solid rebeccapurple; */
}

.overlayScaleCalc,
.overlayInfo,
.overlaySettings,
.overlayScales {
  z-index: 1;
}

.overlayInfo .closeBtn {
  position: absolute;
  top: -5px;
  right: 10px;
  width: 32px;
  height: 32px;
  background-color: var(--background-color-2);
  color: var(--font-color);
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

.overlayInfo img {
  width: 100%;
}

body.active-overlayInfo {
  overflow: hidden;
}

body.active-blur .containerWrapper,
body.active-blur .btnContainer {
  filter: blur(5px);
  /* background-color: rgba(0, 0, 0, 0.08); */;
  transition: filter 314ms ease-in-out 0ms;
  pointer-events: none;
}

body.active-overlayInfo .overlayInfo,
body.active-overlayScaleCalc .overlayScaleCalc,
body.active-overlaySettings .overlaySettings,
body.active-overlayScales .overlayScales {
  pointer-events: all;
  top: 100px;
  opacity: 1;
  margin-top: 0;
  transition: top 0ms ease-in-out 0ms, opacity 314ms ease-in-out, margin-top 314ms ease-in-out;
}

.overlayScales ul {
  list-style-type: circle;
  padding-left: 20px;
}
.overlayScales li {
  margin: 12px;
}



/* MARK: Small Screen */
@media all and (min-width: 0px) and (max-width: 600px) {
  .overlay {
    width: 75%;
    padding: 1em;
  }
  .overlayScales ul {
    padding-left: 0.5em;
  }
}
